body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-image: url(https://ichef.bbci.co.uk/news/640/cpsprodpb/F6BF/production/_98976136_b4a57840-489f-4590-955e-6b9f4934b71a.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  }
  #countdown {
    font-size: 24px;
    font-weight: bold;
    color: #f5f5f5;
  }

  img {
    width: 600px;
    height: 400px;
  }